.body {
    background-color: red;
    width: 100%;
}

.navbar{
    background-color: white;

    .pull-right{
        .toggle{
            span{
            background-color: black !important;
            }
        }
    }
}

.hero-image{
    background: url("../images/background_images/HeroImgFGG.png");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

// Core Values
.media-body{
    p{
        color: black;
    }
}

.text-center{
    .why-work{
        color: black;
        margin-bottom: 10px;
        margin-top: -25px;
    }
}

// Sci Design
#sci_design{
    background: url("../images/background_images/SciDesign.jpg");
    background-size: cover;
    height: 50%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    

    .text-center{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        background: rgba(255, 255, 255, 0.5);
        padding: 30px 20px 30px 20px;
        margin-bottom: 30px;
    }
}


// Slider
#our-projects{
    margin: 90px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .slick-prev:before, .slick-next:before {
    color: red;
    }

    // .slick-track{
    //     transform: none !important;
    // }
}

.fix-width {
    //transform: translate3d(3%, 0px, 0px) !important;
    right: -5%;
}

// Services
.services{
    background: url("../images/background_images/CoreValues.jpg");
    background-size: cover;
    background-attachment: fixed;
    // margin-top: 40px;
    // height: 103%;

    .text-center{
        h2, h3{
        color: white;
        }
    }
}

// Footer
footer{
    background-color: white;
    .contact-address{
        line-height: 33px;
        ul{
            li{
                span{
                    color: black;
                    font-weight: 800;
                    font-size: 20px;
                }
            }
        }
        p, li{
            color: @dark-red-color;
            font-size: 20px;
            text-align: center;
        }
    }
}

.logo-footer{
    text-align: center;
    img{
        width: 540px;
        height: 200px;
    }
}

.footer-img{
    display: flex;
    justify-content: center;
    img{
        background-size: cover;
        // width: 70%;
    }
}

.footer-hr{
    margin-top: 0;
}

.contact-form{
    h3{
        font-weight: 800;
    }
}


// Projects Boxes
.project-1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed @dark-red-color;
    padding-top: 20px;

    .project-title{
        text-align: center;
    }
}

.project-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed @dark-red-color;
    padding-top: 20px;

    .project-title{
        text-align: center;
    }
}

.project-3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed @dark-red-color;
    padding-top: 20px;

    .project-title{
        text-align: center;
    }
}

// Services Boxes
.left-part{
    border-right: 1px solid @dark-red-color;
    position: absolute;
    left: 0;
    height: 488px;

    .left-parent{
       top: 120px; 
    }

    .ant-img{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 43px;
        right: 4px;
    }

    .circle{
        background-color: @dark-red-color;
        border: none;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: 44px;
    }

    .text{
        background-color: white;
        // opacity: 0.5;
        background: rgba(255, 255, 255, 0.5);
        color: @dark-red-color;
        font-weight: bolder !important;
        width: 93%;
        padding: 1px;

        p{
            margin: 0;
            padding: 5px;
        }
    }
}

.left-part-2{
    position: absolute;
    left: 0;

    .left-parent-2{
       top: 325px; 
    }

    .circle{
        background-color: @dark-red-color;
        border: none;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: 64px;
    }

    .ant-img{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 61px;
        right: 4px;
    }

    .text{
        background-color: white;
        background: rgba(255, 255, 255, 0.5);
        color: @dark-red-color;
        font-weight: bolder !important;
        width: 93%;
        padding: 1px;

        p{
            margin: 0;
            padding: 5px;
        }
    }
}


.services-section{
    position: relative;
}


.right-part{
    position: absolute;
    right: 0;

    .right-parent{
        top: 20px;
    }

    .circle{
        background-color: @dark-red-color;
        border: none;
        width: 30px;
        height: 30px;
        position: absolute;
        left: -30px;
        top: 44px;
    }

    .ant-img{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 42px;
        left: 4px;
        transform: scaleX(-1);
    }

    .text{
        background-color: white;
        background: rgba(255, 255, 255, 0.5);
        color: @dark-red-color;
        font-weight: bolder !important;
        width: 93%;
        float: right;

        p{
            margin: 0;
            padding: 5px;
        }
    }
}

.right-part-2{
    position: absolute;
    right: 0;

    .right-parent-2{
        top: 235px;
    }

    .circle{
        background-color: @dark-red-color;
        border: none;
        width: 30px;
        height: 30px;
        position: absolute;
        left: -30px;
        top: 44px;
    }

    .ant-img{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 47px;
        left: 4px;
        transform: scaleX(-1);
    }

    .text{
        background-color: white;
        background: rgba(255, 255, 255, 0.5);
        color: @dark-red-color;
        font-weight: bolder !important;
        width: 93%;
        float: right;

        p{
            margin: 0;
            padding: 5px;
        }
    }
}

.fixed-height{
    height: 1000px;	
}

// .box-left-out {
//     position: absolute;
//     left: -200px;
// }
// .box-left-in {
//     left: 0;
//     transition: all 4s;

// }

.project-data-item{
    &.active {
        opacity: 0.5;
    }
}

// Animation
.slideDown{
	animation-name: slideDown;	
	animation-duration: 2s;	
	animation-timing-function: ease-in-out;	
	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}


// Slider Animation
.sliderSlideDown{
	animation-name: SliderslideDown;	
	animation-duration: 2s;	
	animation-timing-function: ease-in-out;	
	visibility: visible !important;						
}


@keyframes SliderslideDown {
	0% {
		transform: translateY(-10%);
	}
	50%{
		transform: translateY(3%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}


 
.footer-content-social{
    text-align: center;
    margin-top: 10px;

    h4{
        color: black;
        font-weight: 800;
        font-size: 20px;
    }
}


#the-tree{
    height: 866px;
    padding-bottom: 200px;
}
 

.meet_us_intro{
    padding: 16px 0px 0px 0px !important;
}


// Meet The Geeks Hamburger Menu
.pull-right{    
    span{
        background-color: black !important;
    }
}

