.body {
    background-color: red;
    width: 100%;
}

.navbar{
    background-color: white;

    .pull-right{
    .toggle{
        span{
        background-color: black !important;
        }
    }
}
}

.hero-image{
    background: url("../images/background_images/HeroImgFGG.png");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

// Core Values
.media-body{
    p{
        color: black;
    }
}

.text-center{
    .why-work{
        color: black;
        margin-bottom: 10px;
        margin-top: -25px;
    }
}

// Sci Design
#sci_design{
    background: url("../images/background_images/SciDesign.jpg");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    

    .text-center{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        opacity: 0.5;
        padding: 30px 20px 30px 20px;
        margin-bottom: 30px;
    }
}


// Slider
#our-projects{
    margin: 90px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    .slick-prev:before, .slick-next:before {
    color: red;
    }
}


// Services
.services{
    background: url("../images/background_images/CoreValues.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 40px;
    height: 70%;

    .text-center{
        h2, h3{
        color: white;
        }
    }
}

// Footer
footer{
    background-color: white;
    .contact-address{
        h3{
            color: black;
            font-weight: 800;
            font-size: 20px;
            text-align: center;

        }
        p, li{
            color: @dark-red-color;
            font-size: 20px;
            text-align: center;
        }
    }
}

.logo-footer{
    text-align: center;
}

.footer-img{
    display: flex;
    justify-content: center;
    img{
        background-size: cover;
        // width: 70%;
    }
}

.footer-hr{
    margin-top: 0;
}

