.tree-animation{
    height: 200%;
    margin-top: 60px;

    .treeitem{
        display:none;
    }

    // Left Part Tree
    .all{
        height:10px; 
        background-color:red; 
        padding:0px;

        .left-line{
            height:4px; 
            opacity:0;
        }

        .main1{
            width: 114px;
            /* border: 1px solid black; */
            height: 4px;
            right: 92px;
            position: absolute;
            bottom: 31px;
            right: 1px;;
            background-color: @dark-red-color;

            .point1-1{
                height: 20px; 
                width: 20px; 
                background-color: @dark-red-color; 
                border-radius: 50%; 
                margin-left: -10px; 
                margin-top: -10px; 
                position:relative; 
    
                .line1-1{
                    height: 210px;
                    width: 4px; 
                    background-color: @dark-red-color; 
                    position: absolute; 
                    bottom: 0; 
                    left: 8px;
                    z-index:-10;
                }
    
                .point1-2{
                    height: 20px; 
                    width: 20px; 
                    background-color: @dark-red-color; 
                    border-radius: 50%; 
                    margin-top: -10px; 
                    bottom:65px; 
                    position:absolute;
                }

                .point1-4{
                    height: 20px; 
                    width: 20px; 
                    background-color: @dark-red-color; 
                    border-radius: 50%; 
                    margin-top: -10px; 
                    bottom:110px; 
                    position:absolute;
                }

                .point1-5{
                    height: 20px; 
                    width: 20px; 
                    background-color: @dark-red-color; 
                    border-radius: 50%; 
                    margin-top: -10px; 
                    bottom:113px;
                    right: -112px; 
                    position:absolute;
                }
    
                .line1-2{
                    position: absolute; 
                    right: 8px; 
                    bottom: 94px; 
                    transform: rotate(22deg);
                    border-top: 4px solid #800000; 
                    width:0px; 
                    z-index:-10;
                }
    
                .point1-3{
                    height: 20px; 
                    width: 20px; 
                    background-color: @dark-red-color; 
                    border-radius: 50%; 
                    margin-top: -10px; 
                    bottom:108px; 
                    right:95px; 
                    position:absolute; 
                }

    
                .line1-4{
                    height: 210px; 
                    width: 4px; 
                    background-color: @dark-red-color; 
                    position: absolute; 
                    bottom: 126px; 
                    right:103px; 
                    z-index:-10; 
                }

                .line1-5{
                    width: 114px;
                    /* border: 1px solid black; */
                    height: 4px;
                    right: 92px;
                    position: absolute;
                    bottom: 120px;
                    right: -103px;
                    background-color: @dark-red-color;
                }

                .line1-6{
                    height: 210px; 
                    width: 4px; 
                    background-color: @dark-red-color; 
                    position: absolute; 
                    bottom: 126px; 
                    right:-103px; 
                    z-index:-10;
                }
            }
        }
    }

    // Center Part Tree
    .center-part-tree{
        height:10px; 
        background-color:yellow;
        text-align:center; 
        padding:0px;

        .main2{
            width: 50%; 
            height: 4px; 
            background-color: @dark-red-color; 
            position: absolute; 
            top: -25px;
        }

        .animation-img{
            margin-top: -70px; 
            width: 300px; 
            position:relative;
        }

        .point1-1{
            height: 20px; 
            width: 20px; 
            background-color: @dark-red-color; 
            border-radius: 50%; 
            margin-left: auto; 
            margin-right: auto; 
            margin-top: -130px; 
            position:relative; 
            z-index: -10;

            .line2-1{
                height: 410px; 
                width:4px; 
                background-color: @dark-red-color; 
                margin:auto; 
                bottom: 10px; 
                right: 28px; 
                position:absolute;
            }

            .point2-2{
                height: 20px; 
                width: 20px; 
                background-color: @dark-red-color; 
                border-radius: 50%; 
                margin-top: -10px; 
                bottom:100px; 
                right:20px; 
                position:absolute;
            }

            .line2-2{
                position: absolute; 
                right: 31px; 
                bottom: 129px; 
                transform: rotate(22deg); 
                border-top: 4px solid #800000;
                width:0px; 
                z-index:-10;
            }

            .line2-5{
                position: absolute; 
                right: -71px; 
                bottom: 124px; 
                transform: rotate(162deg); 
                border-top: 4px solid #800000;
                width:0px; 
                z-index:-10;
            }

            .point2-3{
                height: 20px; 
                width: 20px; 
                background-color: @dark-red-color; 
                border-radius: 50%; 
                margin-top: -10px; 
                bottom:137px; 
                right:114px; 
                position:absolute;
            }

            .line2-4{
                height: 150px; 
                width: 4px; 
                background-color: @dark-red-color; 
                position: absolute; 
                bottom: 137px; 
                right:122px; 
                z-index:-10; 
            }

            .line2-6{
                height: 150px; 
                width: 4px; 
                background-color: @dark-red-color; 
                position: absolute; 
                bottom: 137px; 
                right:-68px; 
                z-index:-10; 
            }

            .point2-4{
                height: 20px; 
                width: 20px; 
                background-color: @dark-red-color; 
                border-radius: 50%; 
                margin-top: -10px; 
                bottom: 133px;
                right: -76px;             
                position:absolute;
            }
        }
    }

    // Right Part Tree
    .right-part-tree{
        height:10px; 
        background-color:green; 
        padding:0px;

        .right-line{
            height:4px; 
            opacity:0;
        }
    }
}   


.fade-in-line {
    transition: all 3s ease-in-out;
}

.animate-circle-obj-left {
    // opacity: 1 !important;
    transition: all 2s ease-in-out;
}

.animation-img{
    width: 350px;
    height: 150px;
}




