.tree-animation{
    display: flex;
    justify-content: center;
    align-items: center;

    hr{
        background-color: @dark-red-color;
        height: 2px;
        width: 200px;
        box-shadow: 1px 1px 20px 2px @dark-red-color;
    }

    .left-line{
        position: absolute;
        left: 400px;
        top: -51px;
    }
}   
