.body {
  background-color: red;
  width: 100%;
}
.navbar {
  background-color: white;
}
.navbar .pull-right .toggle span {
  background-color: black !important;
}
.hero-image {
  background: url("../images/background_images/HeroImgFGG.png");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}
.media-body p {
  color: black;
}
.text-center .why-work {
  color: black;
  margin-bottom: 10px;
  margin-top: -25px;
}
#sci_design {
  background: url("../images/background_images/SciDesign.jpg");
  background-size: cover;
  height: 50%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
}
#sci_design .text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 20px 30px 20px;
  margin-bottom: 30px;
}
#our-projects {
  margin: 90px auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#our-projects .slick-prev:before,
#our-projects .slick-next:before {
  color: red;
}
.fix-width {
  right: -5%;
}
.services {
  background: url("../images/background_images/CoreValues2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.services .text-center h2,
.services .text-center h3 {
  color: white;
}
footer {
  background-color: white;
}
footer .contact-address {
  line-height: 33px;
}
footer .contact-address ul li span {
  color: black;
  font-weight: 800;
  font-size: 20px;
}
footer .contact-address p,
footer .contact-address li {
  color: #800000;
  font-size: 20px;
  text-align: center;
}
.logo-footer {
  text-align: center;
}
.logo-footer img {
  width: 540px;
  height: 200px;
}
.footer-img {
  display: flex;
  justify-content: center;
}
.footer-img img {
  background-size: cover;
}
.footer-hr {
  margin-top: 0;
}
.contact-form h3 {
  font-weight: 800;
}
.project-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #800000;
  padding-top: 20px;
}
.project-1 .project-title {
  text-align: center;
}
.project-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #800000;
  padding-top: 20px;
}
.project-2 .project-title {
  text-align: center;
}
.project-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #800000;
  padding-top: 20px;
}
.project-3 .project-title {
  text-align: center;
}
.left-part {
  border-right: 1px solid #800000;
  position: absolute;
  left: 0;
  height: 488px;
}
.left-part .left-parent {
  top: 120px;
}
.left-part .ant-img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 43px;
  right: 4px;
}
.left-part .circle {
  background-color: #800000;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 44px;
}
.left-part .text {
  background-color: white;
  color: #800000;
  font-weight: bolder !important;
  width: 93%;
  padding: 1px;
}
.left-part .text p {
  margin: 0;
  padding: 5px;
}
.left-part-2 {
  position: absolute;
  left: 0;
}
.left-part-2 .left-parent-2 {
  top: 325px;
}
.left-part-2 .circle {
  background-color: #800000;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 64px;
}
.left-part-2 .ant-img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 61px;
  right: 4px;
}
.left-part-2 .text {
  background-color: white;
  color: #800000;
  font-weight: bolder !important;
  width: 93%;
  padding: 1px;
}
.left-part-2 .text p {
  margin: 0;
  padding: 5px;
}
.services-section {
  position: relative;
}
.right-part {
  position: absolute;
  right: 0;
}
.right-part .right-parent {
  top: 20px;
}
.right-part .circle {
  background-color: #800000;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -30px;
  top: 44px;
}
.right-part .ant-img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 42px;
  left: 4px;
  transform: scaleX(-1);
}
.right-part .text {
  background-color: white;
  color: #800000;
  font-weight: bolder !important;
  width: 93%;
  float: right;
}
.right-part .text p {
  margin: 0;
  padding: 5px;
}
.right-part-2 {
  position: absolute;
  right: 0;
}
.right-part-2 .right-parent-2 {
  top: 235px;
}
.right-part-2 .circle {
  background-color: #800000;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -30px;
  top: 44px;
}
.right-part-2 .ant-img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 47px;
  left: 4px;
  transform: scaleX(-1);
}
.right-part-2 .text {
  background-color: white;
  color: #800000;
  font-weight: bolder !important;
  width: 93%;
  float: right;
}
.right-part-2 .text p {
  margin: 0;
  padding: 5px;
}
.fixed-height {
  height: 1000px;
}
.project-data-item.active {
  opacity: 0.5;
}
.slideDown {
  animation-name: slideDown;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
.sliderSlideDown {
  animation-name: SliderslideDown;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}
@keyframes SliderslideDown {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(3%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
.footer-content-social {
  text-align: center;
  margin-top: 10px;
}
.footer-content-social h4 {
  color: black;
  font-weight: 800;
  font-size: 20px;
}
#the-tree {
  height: 866px;
  padding-bottom: 200px;
}
.meet_us_intro {
  padding: 16px 0px 0px 0px !important;
}
.pull-right span {
  background-color: black !important;
}
.overlay {
  background-color: #800000 !important;
  /* Primary color, can be changed via colors.css */
}
.logo-left-corner {
  width: 173px;
  height: 69px;
}
.navbar-custom.top-nav-collapse {
  background: white !important;
  /* Primary color, can be changed via colors.css */
}
.fgg-about .fgg-text {
  color: #800000;
  cursor: pointer;
}
.fgg-about a {
  position: relative;
  text-decoration: none;
}
.fgg-about a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
}
.fgg-about .link:after {
  transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}
.fgg-about .link:hover:after {
  width: 100%;
  left: 0;
  background: #800000;
}
.footerLink {
  color: #800000;
}
.tree-animation {
  margin-top: 60px;
}
.tree-animation .treeitem {
  display: none;
}
.tree-animation .all {
  height: 10px;
  padding: 0px;
}
.tree-animation .all .left-line {
  height: 4px;
  opacity: 0;
}
.tree-animation .all .main1 {
  width: 175px;
  /* border: 1px solid black; */
  height: 4px;
  right: 92px;
  position: absolute;
  bottom: 31px;
  right: 59px;
  background-color: #800000;
}
.tree-animation .all .main1 .point1-1 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -10px;
  position: relative;
}
.tree-animation .all .main1 .point1-1 .line1-1 {
  height: 210px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 0;
  left: 8px;
}
.tree-animation .all .main1 .point1-1 .line1-1 .team_item {
  position: absolute;
  bottom: 4px;
  right: -47px;
}
.tree-animation .all .main1 .point1-1 .point1-2 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 65px;
  position: absolute;
}
.tree-animation .all .main1 .point1-1 .point1-4 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 110px;
  position: absolute;
}
.tree-animation .all .main1 .point1-1 .point1-5 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 113px;
  right: -174px;
  position: absolute;
}
.tree-animation .all .main1 .point1-1 .line1-2 {
  position: absolute;
  right: 8px;
  bottom: 74px;
  /* transform: rotate(22deg); */
  border-top: 4px solid #800000;
  width: 0px;
  z-index: -10;
}
.tree-animation .all .main1 .point1-1 .point1-3 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 66px;
  right: 165px;
  position: absolute;
}
.tree-animation .all .main1 .point1-1 .line1-4 {
  height: 210px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 78px;
  right: 173px;
}
.tree-animation .all .main1 .point1-1 .line1-4 .team_item {
  position: absolute;
  bottom: 4px;
  right: -41px;
}
.tree-animation .all .main1 .point1-1 .line1-5 {
  width: 167px;
  /* border: 1px solid black; */
  height: 4px;
  right: 92px;
  position: absolute;
  bottom: 120px;
  right: -158px;
  background-color: #800000;
}
.tree-animation .all .main1 .point1-1 .line1-6 {
  height: 210px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 126px;
  right: -166px;
}
.tree-animation .all .main1 .point1-1 .line1-6 .team_item {
  position: absolute;
  bottom: 4px;
  right: -43px;
}
.tree-animation .center-part-tree {
  height: 10px;
  text-align: center;
  padding: 0px;
}
.tree-animation .center-part-tree .logo-div {
  margin: auto;
  width: fit-content;
}
.tree-animation .center-part-tree .logo-div .dot-1 {
  height: 10px;
  width: 10px;
  background-color: #800000;
  border-radius: 50%;
  position: relative;
  bottom: 107px;
  left: -9px;
  display: block;
  cursor: pointer;
  animation: pulse 3s infinite;
}
.tree-animation .center-part-tree .logo-div .dot-2 {
  height: 10px;
  width: 10px;
  background-color: #800000;
  border-radius: 50%;
  position: relative;
  bottom: 174px;
  left: 125px;
  display: block;
  cursor: pointer;
  animation: pulse 3s infinite;
}
.tree-animation .center-part-tree .logo-div .dot-3 {
  height: 10px;
  width: 10px;
  background-color: #800000;
  border-radius: 50%;
  position: relative;
  bottom: 102px;
  left: 302px;
  display: block;
  cursor: pointer;
  animation: pulse 3s infinite;
}
.tree-animation .center-part-tree .main2 {
  width: 50%;
  height: 4px;
  background-color: #800000;
  position: absolute;
  top: -25px;
  left: -60px;
}
.tree-animation .center-part-tree .main4 {
  width: 58%;
  height: 4px;
  background-color: #800000;
  position: absolute;
  top: 1px;
  right: -206px;
  z-index: -10;
}
.tree-animation .center-part-tree .animation-img {
  margin-top: -70px;
  width: 300px;
  position: relative;
}
.tree-animation .center-part-tree .point1-1 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -130px;
  position: relative;
  z-index: -10;
}
.tree-animation .center-part-tree .point1-1 .line2-1 {
  height: 410px;
  width: 4px;
  background-color: #800000;
  margin: auto;
  bottom: 10px;
  right: 28px;
  position: absolute;
}
.tree-animation .center-part-tree .point1-1 .point2-2 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 100px;
  right: 20px;
  position: absolute;
}
.tree-animation .center-part-tree .point1-1 .point2-5 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 195px;
  right: 20px;
  position: absolute;
}
.tree-animation .center-part-tree .point1-1 .line2-2 {
  position: absolute;
  right: 31px;
  bottom: 109px;
  /* transform: rotate(22deg); */
  border-top: 4px solid #800000;
  width: 0px;
  z-index: -10;
}
.tree-animation .center-part-tree .point1-1 .line2-5 {
  position: absolute;
  right: -115px;
  bottom: 203px;
  /* transform: rotate(162deg); */
  border-top: 4px solid #800000;
  width: 0px;
  z-index: -10;
}
.tree-animation .center-part-tree .point1-1 .point2-3 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 101px;
  right: 156px;
  position: absolute;
}
.tree-animation .center-part-tree .point1-1 .line2-4 {
  height: 150px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 117px;
  right: 165px;
}
.tree-animation .center-part-tree .point1-1 .line2-6 {
  height: 150px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 204px;
  right: -114px;
  z-index: -10;
}
.tree-animation .center-part-tree .point1-1 .point2-4 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 195px;
  right: -122px;
  position: absolute;
}
.tree-animation .right-part-tree {
  height: 10px;
  padding: 0px;
}
.tree-animation .right-part-tree .right-line {
  height: 4px;
  opacity: 0;
}
.tree-animation .right-part-tree .main3 {
  width: 114px;
  /* border: 1px solid black; */
  height: 4px;
  right: 32px;
  position: absolute;
  bottom: 5px;
  /* right: 676px; */
  background-color: #800000;
  left: 15px;
}
.tree-animation .right-part-tree .main3 .point3-1 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: -6px;
  /* right: -39px; */
  position: absolute;
  left: 187px;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-1 {
  height: 343px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 0;
  left: 9px;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-1 .team_item {
  position: absolute;
  bottom: 4px;
  left: -65px;
}
.tree-animation .right-part-tree .main3 .point3-1 .point3-2 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 110px;
  right: 0px;
  position: absolute;
}
.tree-animation .right-part-tree .main3 .point3-1 .point3-5 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 205px;
  right: 0px;
  position: absolute;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-2 {
  position: absolute;
  right: 6px;
  bottom: 118px;
  /* transform: rotate(22deg); */
  border-top: 4px solid #800000;
  width: 0px;
  z-index: -10;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-3 {
  position: absolute;
  right: -159px;
  bottom: 213px;
  border-top: 4px solid #800000;
  width: 0px;
  z-index: -10;
}
.tree-animation .right-part-tree .main3 .point3-1 .point3-3 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 111px;
  right: 172px;
  position: absolute;
}
.tree-animation .right-part-tree .main3 .point3-1 .point3-4 {
  height: 20px;
  width: 20px;
  background-color: #800000;
  border-radius: 50%;
  margin-top: -10px;
  bottom: 205px;
  right: -166px;
  position: absolute;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-4 {
  height: 230px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 214px;
  left: 175px;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-4 .team_item {
  position: absolute;
  bottom: 4px;
  left: -59px;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-5 {
  height: 230px;
  width: 4px;
  background-color: #800000;
  position: absolute;
  bottom: 127px;
  left: -165px;
}
.tree-animation .right-part-tree .main3 .point3-1 .line3-5 .team_item {
  position: absolute;
  bottom: 4px;
  left: -63px;
}
.fade-in-line {
  transition: all 3s ease-in-out;
}
.animate-circle-obj-left {
  transition: all 2s ease-in-out;
}
.animation-img {
  width: 350px;
  height: 150px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #800000;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px #800000;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #800000;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #800000;
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px #800000;
    box-shadow: 0 0 0 10px #800000;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #800000;
    box-shadow: 0 0 0 0 #800000;
  }
}
