.body {
  background-color: red;
  width: 100%;
}
.navbar {
  background-color: white;
}
.navbar .pull-right .toggle span {
  background-color: black !important;
}
.hero-image {
  background: url("../images/background_images/HeroImgFGG.png");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}
.media-body p {
  color: black;
}
.text-center .why-work {
  color: black;
  margin-bottom: 10px;
  margin-top: -25px;
}
#sci_design {
  background: url("../images/background_images/SciDesign.jpg");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
}
#sci_design .text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.5;
  padding: 30px 20px 30px 20px;
  margin-bottom: 30px;
}
#our-projects {
  margin: 90px auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#our-projects .slick-prev:before,
#our-projects .slick-next:before {
  color: red;
}
.fix-width {
  right: -5%;
}
.services {
  background: url("../images/background_images/CoreValues.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: 40px;
  height: 70%;
}
.services .text-center h2,
.services .text-center h3 {
  color: white;
}
footer {
  background-color: white;
}
footer .contact-address {
  line-height: 33px;
}
footer .contact-address ul li span {
  color: black;
  font-weight: 800;
  font-size: 20px;
}
footer .contact-address p,
footer .contact-address li {
  color: #800000;
  font-size: 20px;
  text-align: center;
}
.logo-footer {
  text-align: center;
}
.footer-img {
  display: flex;
  justify-content: center;
}
.footer-img img {
  background-size: cover;
}
.footer-hr {
  margin-top: 0;
}
.contact-form h3 {
  font-weight: 800;
}
.project-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #800000;
  padding-top: 20px;
}
.project-1 .project-title {
  text-align: center;
}
.project-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #800000;
  padding-top: 20px;
}
.project-2 .project-title {
  text-align: center;
}
.project-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #800000;
  padding-top: 20px;
}
.project-3 .project-title {
  text-align: center;
}
