/* JOIN US PAGE */

/* Pre-loader */ 
#loader-container {
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height:100%;
    z-index: 9000;
}

#cogs-loader {
    position:absolute;
    display:block;
    width: 100%; 
    height: 100%;
    z-index:10000;
    opacity:1;
    background: url(../images/Loading_animation/3-cogs.svg) no-repeat center center;
    background-size: 80px;    

    -webkit-animation-name: cogs-loader;
        animation-name: cogs-loader;
    -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
        animation-timing-function:  ease-in-out;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
        animation-direction: alternate;
}

#loader-circular {
    position: absolute; 
    display: block;
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    overflow: visible;
    background: url(../images/Loading_animation/Load-SVG-ready.svg) no-repeat center center; 
    background-size: 150px;
    opacity:0.2;
    -webkit-transition: all 0.4s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
            transition: all 0.4s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#loader-container .back-wall {
    position:fixed;
    top:0;
    width:50%;
    height:100%;
    background-color: #333;
    z-index:9000;
    opacity:0.98;
}
#loader-container .back-wall.left-wall {
    left: -100%;
    -webkit-transform: translateX(200%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(200%);  /* IE 9 */
    transform: translateX(200%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#loader-container .back-wall.right-wall {
    right: -100%;
    -webkit-transform: translateX(-200%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-200%);  /* IE 9 */
    transform: translateX(-200%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-container {
    visibility: hidden;
}

/* ---------------------------------------------- */
/* Default styles
/* ---------------------------------------------- */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #4D4D4D; /* Can be changed via colors.css */
    background-color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
    text-transform: none;
    color: rgba(128,0,0, 1); /* Primary color, can be changed via colors.css */
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}


a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: rgba(128,0,0, 1); /* Primary color, can be changed via colors.css */
}

.light {
    font-weight: 100;
}

.white{
    color:#fff;
}

.gray{
    color: #2F2F2F;
}

.buffer-twenty{
    margin:20px 0;
}

.buffer-twenty-top{
    margin-top: 20px;
}

.buffer-twenty-bottom{
    margin-bottom: 20px;
}

.buffer-forty{
    margin:40px 0;
}

.buffer-forty-top{
    margin-top: 40px;
}

.no-bottom-pad{
    padding-bottom: 0 !important;
}

.no-top-pad{
    padding-top: 0 !important;
}

.highlight{
    font-weight: 700;
    color: rgba(128,0,0, 1); /* Primary color, can be changed via colors.css */
}

.list-ord{
    list-style: none;
    margin:0;
    padding: 10px 0;
    font-size: 16px;
    line-height: 28px;
}

.no-bg{
    background: none !important;
}

/* ---------------------------------------------- */
/* Common section styles
/* ---------------------------------------------- */

.content-section {
    padding: 50px 0;
    z-index:1;
}

.content-section.alt-bg{
    background-color: #222;
}

.content-section.alt-bg-light{
    /*background-color: #fafafa;*/
    background-color: rgba(239, 239, 239, 0.7);
    border-top:1px solid #f5f5f5;
    border-bottom:1px solid #d2d2d2;
}

.caption{
    font-weight: bold;
    font-size: 16px;
}

.caption span {
    color: rgba(128, 0, 0, 1);
    font-size: 20px;
}

.content-section .col-md-12 {
    z-index:5;
}

.text-center{
    text-align: center;
    font-size:12px;
}

.align-middle{
    margin:0 auto;
}

.sans-border{
    border-radius: 0;
}

.sans-shadow{
    box-shadow: none;
}

blockquote { 
    display: block;
    font-size: 16px;
    position: relative; 
    padding-left: 90px;
    color: rgba(128,0,0, 1);
    border-color: rgba(128,0,0, 1);
}
 
blockquote:before {
    content: "\f10d";
    font-size: 35px; 
    font-family: FontAwesome;
    position: absolute;
    top: -4px;
    left: 20px;
}

blockquote span:before{
    content:'--';
    padding: 0 10px 0 0;
}

blockquote span{
    padding: 10px 0;
    display: block;
    font-size: 16px;
    color: #4D4D4D;
}

/* ---------------------------------------------- */
/* Navigation (Meet_Us)
/* ---------------------------------------------- */

.navbar-custom {
    margin-bottom: 0;
    text-transform: none;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-transition: background .5s ease-in-out;
   -moz-transition: background .5s ease-in-out;
        transition: background .5s ease-in-out;
    
}
.navbar-custom.top-nav-collapse{
    background: rgba(47,47,47, .9); /* Primary color, can be changed via colors.css */
}
.navbar-custom .navbar-brand {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
}
.page-scroll {
    bottom:45%;
    transform:translateY(-45%);
}

.navbar-custom .navbar-brand span.brand-logo{
    display: inline-block;
    padding:0;
    margin:0;
}

.logo-tiny {
    display: inline-block;
    height:60px;
    margin-top: 5px;
    width:auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.logo-tiny:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-timing-function: cubic-bezier(0.15, 2, 0.9, 2);
    transition-timing-function: cubic-bezier(0.15, 2, 0.9, 2);
    margin-top:15px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 2px 6px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: rgba(128,0,0, 1); /* Primary color, can be changed via colors.css */
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

/* ---------------------------------------------- */
/* Custom "back" navigation
/* ---------------------------------------------- */
.button_container {
    position: relative;
    margin-top: 14px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    z-index: 4D4D4D;
    -webkit-transition: opacity .25s ease;
            transition: opacity .25s ease;
}

/* Animate the top hamburger bar */
.button_container.active .top {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
        -ms-transform: translateY(8px) translateX(0) rotate(45deg);
            transform: translateY(8px) translateX(0) rotate(45deg);
    background: #FFF;
}

/* Set the middle hamburger bar's opacity to 0  */
.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

/* Animate the bottom hamburger bar */
.button_container.active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
            transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: #fff;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 8px;
}

.button_container span:nth-of-type(3) {
    top: 16px;
}

/* ---------------------------------------------- */
/* Custom "meet us" navigation
/* ---------------------------------------------- */

.meet-nav .meet-items .text {
    display:inline-block;
    padding-right:10px;
    color: white;
    height:auto;
    opacity:1;
    transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
}
.meet-nav .meet-items .text p {
    padding:0;
    margin:0;
    height:auto;
    transform:translateY(-40%);
}

.meet-nav .meet-items .button_container {
    display:inline-block;
    position: relative;
    margin-top: 14px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    -webkit-transition: all .25s ease;
            transition: all .25s ease;
}

/* Animate the top hamburger bar */
.meet-items:hover .top {
    -webkit-transform: translateY(4px) translateX(-9px) rotate(-45deg) scaleX(0.5);
        -ms-transform: translateY(4px) translateX(-9px) rotate(-45deg) scaleX(0.5);
            transform: translateY(4px) translateX(-9px) rotate(-45deg) scaleX(0.5);
    background: #FFF;
}

/* Animate the bottom hamburger bar */
.meet-items:hover .bottom {
    -webkit-transform: translateY(-4px) translateX(-9px) rotate(45deg) scaleX(0.5);
        -ms-transform: translateY(-4px) translateX(-9px) rotate(45deg) scaleX(0.5);
            transform: translateY(-4px) translateX(-9px) rotate(45deg) scaleX(0.5);
    background: #FFF;
}

/* Animate the text next to hamburger */
.meet-items:hover .text {
    -webkit-opacity: 0.3;
        -ms-opacity: 0.3;
            opacity: 0.3;
}

.button_container span {
    background: #fff;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 8px;
}

.button_container span:nth-of-type(3) {
    top: 16px;
}

/* ---------------------------------------------- */
/*  TEAM PORTRAITS*/
/*----------------------------------------------*/

.svg-portrait {
    max-height: 200px;
}

.team_outer {
    width:inherit; 
    height:200px; 
}

.face-port{
    position: absolute;
    bottom: -350px;
    left: 343px;
}

#dariaS {
    background: url(../images/team_portraits/DariaS.png) no-repeat center center;
}

#vaneG {
    background: url(../images/team_portraits/VaneG.png) no-repeat center center;
}

#aleksandarG {
    background: url(../images/team_portraits/AleksandarG.png) no-repeat center center;
}

#inesJ {
    background: url(../images/team_portraits/InesJ.png) no-repeat center center;
}

#marjanaM {
    background: url(../images/team_portraits/MarjanaM.png) no-repeat center center;
}

#alexM {
    background: url(../images/team_portraits/AlexM.png) no-repeat center center;
}

#igorV {
    background: url(../images/team_portraits/IgorV.png) no-repeat center center;
}

#hristijanS {
    background: url(../images/team_portraits/HristijanS.png) no-repeat center center;
}

.team_item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: #fff #fff rgba(128,0,0, 1) rgba(128,0,0, 1); /* Primary color, can be changed via colors.css */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: border-color .2s ease-in-out;
       -moz-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0;
}

.team_item{
    background-color: rgba(239, 239, 239, 0.8);
    /* padding: 15px 20px 20px; */
    /* margin: 15px 0; */
    width: 160px;
    position: relative;
    color: #fff;
    overflow: hidden;
    box-shadow: -3px 3px 8px 0px rgba(0,0,0,.1);
     -webkit-transition: background .5s ease-in-out;
        -moz-transition: background .5s ease-in-out;
             transition: background .5s ease-in-out;
}

.team_item h4{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}

.team_item p{
    padding: 0;
    margin: 0;
    color:#4D4D4D;
    font-size: 16px;
     -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
             transition: all .2s ease-in-out;
}

.team_item:hover h4{
    color: #4D4D4D;
            transform: translate(0,-20px);
     -webkit-transform: translate(0,-20px);
          -o-transform: translate(0,-20px); 
        -moz-transform: translate(0,-20px);
     -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
             transition: all .3s ease-in-out;
}

.team_item:hover p{
    color: rgba(128,0,0, 1);
    font-weight:600;
            transform: translate(0,-25px);
     -webkit-transform: translate(0,-25px);
          -o-transform: translate(0,-25px); 
        -moz-transform: translate(0,-25px);
     -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
             transition: all .2s ease-in-out;
}

.team_item:hover:before{
    border-color: #fff #fff #a5a5a5 #a5a5a5;
    -webkit-transition: border-color .2s ease-in-out;
       -moz-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
}

/* ---------------------------------------------- */
/* PAGE SECTIONS
/* ---------------------------------------------- */

/*      Hero unit (Main slider)
/* ---------------------------------------------- */

.intro-bg {
    width: 100%;
    height: 100%;
    color: #fff;
    background:#222;
}

.carousel-caption{
    text-shadow: none;
    bottom: 30%;
}

.carousel-caption h1{
    padding: 0;
    margin: 10px 0;
    color: #fff;
} 

.carousel-caption .intro-text{
    padding: 0;
}

.carousel-caption .btn{
    margin:0;
}

.carousel-control{
    top: 50%;
    width:4%;
    height:7%;
    margin: 0;
    text-shadow: none;
}

.carousel-control.left,
.carousel-control.right{
    background: none;
    z-index: 100;
}

.carousel-control.left:hover,
.carousel-control.right:hover{
    background: rgba(128,0,0, .9); /* Primary color, can be changed via colors.css */
}

/*FewGoodGeeks Animation*/

.main-title {
    cursor:context-menu;
    margin:0;
    padding:0;
    display:inline-flex;
}

@-webkit-keyframes jump {
    
    0% {transform:scale(1, 1);bottom:0px;}
    10% {transform:scale(1.2, 0.7); bottom:0px;}
    20% {transform:scale(0.8, 1.2); bottom:0px;transform:rotateZ(0deg);}
    50% {transform:scale(1, 1); bottom:70px; transform:rotateZ(-360deg);}
    80% {transform:scale(1, 1); bottom:0px; transform:rotateZ(-720deg);}
    90% {transform:scale(1.2, 0.7);bottom:0px;}
    100% {transform:scale(1, 1);bottom:0px;}
    
}

@-moz-keyframes jump {
    
    0% {transform:scale(1, 1);bottom:0px;}
    10% {transform:scale(1.2, 0.7); bottom:0px;}
    20% {transform:scale(0.8, 1.2); bottom:0px;transform:rotateZ(0deg);}
    50% {transform:scale(1, 1); bottom:70px; transform:rotateZ(-360deg);}
    80% {transform:scale(1, 1); bottom:0px; transform:rotateZ(-720deg);}
    90% {transform:scale(1.2, 0.7);bottom:0px;}
    100% {transform:scale(1, 1);bottom:0px;}
    
}

@keyframes jump {
    
    0% {transform:scale(1, 1);bottom:0px;}
    10% {transform:scale(1.2, 0.7); bottom:0px;}
    20% {transform:scale(0.8, 1.2); bottom:0px;transform:rotateZ(0deg);}
    50% {transform:scale(1, 1); bottom:70px; transform:rotateZ(-360deg);}
    80% {transform:scale(1, 1); bottom:0px; transform:rotateZ(-720deg);}
    90% {transform:scale(1.2, 0.7);bottom:0px;}
    100% {transform:scale(1, 1);bottom:0px;}
}

.letter-jump {
    position:relative;
    bottom:0;
    transform:rotateZ(0deg);
}

.letter-jump.animated {
    animation-name: jump;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 1, 0, 0);
}

.overlay-detail {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000; /* Set to black, can be changed via colors.css */
    opacity: 0.5;
    left: 0;
    top: 0;
    z-index: 1;
}

.carousel {
    height: 70%;
	z-index: 120;
}

/* ---------------------------------------------- */
/* MAIN BG
/* ---------------------------------------------- */
div#meet-bg {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../images/background_images/team_bg2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* fix for IE8 refer to conditional comment in the <head> of the page*/
#meet-bg {
    display: block;
}


/* Animated COGS section */


.cogs {
  position: absolute;
  top: -5%;
  left: -13%;
  width: 52%;
    z-index: -1;
}

.cog {
  float: left;
    margin-top: -26%;
    overflow:hidden;
}

.cog-opp {
  margin-left: 24%;
  margin-top: -26%;
    overflow:hidden;
}

@media (max-width: 599px) {
  .cogs {
    display: none;
  }
}

@media (max-width: 1440px) {
  .cogs {
    width: 40%;
  }
}

@media (min-width: 1441px) {
  .cogs {
    width: 36%;
  }
}

/* ---------------------------------------------- */
/*      Team section
/* ---------------------------------------------- */


.team_item figcaption ul{
    list-style: none;
    margin: 0;
    padding:0;
}

.team_item figcaption ul{
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
       -moz-transition: all 0.1s ease-in-out;
         -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
}

.team_item figcaption ul li{
    display: inline-block;
    padding:10px;
}

.team_item figcaption{
    padding:0;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom:0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.team_item:hover figcaption{
    visibility: visible;
    color: #fff;
    background: rgba(128,0,0,1);
    height: 14%;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.team_item figcaption ul li a:hover,
.team_item figcaption ul li a:focus {
    color: #4D4D4D; 
}


/*       Meet Us section
/* ---------------------------------------------- */

#meet_us_intro {
    background-color: rgba(239, 239, 239, 0.7);
    border-bottom:1px solid #d2d2d2;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
         -o-background-size: cover;
}

/* ---------------------------------------------- */
/* Footer
/* ---------------------------------------------- */

footer {
    /* background:rgba(47,47,47,.9); /* Dark color/Footer color, can be changed via colors.css */
	/* background: url(../images/background_images/EndSectionPic.jpg) 50% 0 no-repeat scroll;
	opacity: 0.3;
	-webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
         -o-background-size: cover; */
    /* color:#fff; */
    padding: 50px 0 0 0;
    color: black;
}

footer h2{
    display: inline-block;
    color:#fff;
}

footer h4{
    margin: 0 0 20px 0;
    padding: 0;
    color:#fff;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}

footer ul.blog-entries,
footer ul.twitter-entries{
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

footer ul.blog-entries li,
footer ul.twitter-entries li{
    margin: 10px 0;
    line-height: 1.5;
}

footer ul.blog-entries li span,
footer ul.twitter-entries li span{
    display: block;
    color: #6d7579;
}

footer .copynote{
    padding: 20px 0;
    margin-top: 40px;
    background:rgba(47,47,47,1);
}

footer .segment{
    padding-bottom: 15px;
}

footer .social a{
    display: inline-block;
    padding: 6px;
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 4%;
    right: 1%;
    z-index: 100;
}

.scroll-top a:link,
.scroll-top a:visited {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid rgba(128,0,0, 1);
    background: rgba(128,0,0, 1);
    font-size: 30px;
}

.scroll-top a:hover {
    border: 1px solid #fff;
    outline: 0;
    color: #fff;
    background: #d0726f;
}

/* ---------------------------------------------- */
/* 11.  CSS3 Animations
/* ---------------------------------------------- */

@-webkit-keyframes final-logo {
  0% {
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }
}

@keyframes final-logo {
  0% {
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }
}

@-webkit-keyframes final-logo-float {
  100% {
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }
}

@keyframes final-logo-float {
  100% {
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }
}

/* ---------------------------------------------- */
/* MEDIA QUERIES
/* ---------------------------------------------- */

/* Media Queries [min-width:768px]
/* ---------------------------------------------- */

@media(min-width:768px) {

    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }

    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 10px 0;
        background: rgba(77,77,77, 1); /* Primary color, can be changed via colors.css */
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
        -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
                box-shadow: 0 0 10px 2px rgba(0,0,0,.1);

    }

    .navbar-custom.top-nav-collapse .navbar-brand{
        color: #fff;
    }

    .navbar-custom.top-nav-collapse .button_container span{
        background: #fff;
    }

    .navbar-custom.top-nav-collapse .button_container.active span.top,
    .navbar-custom.top-nav-collapse .button_container.active span.bottom{
        background:#fff;
    }

}

/* Media Queries [max-width:767px]
/* ---------------------------------------------- */

@media(max-width:767px) {

    .carousel-caption {
        top: 50%;
        margin: 0;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }

    .carousel-caption .intro-text {
        font-size: 20px;
        padding: 0;
    }

     .navbar-custom a{
        color: rgba(128,0,0, 1);
        color: #fff;
    }

    .button_container span,
    .button_container span {
        background: #fff !important;
    }

    .button_container.active span.top,
    .button_container.active span.bottom{
        background:#fff;
    }

    .scroll-top {
        bottom: 4%;
        right: 3%;
    }
    
    .scroll-top a:link,
    .scroll-top a:visited {
        padding:2px 6px;
        font-size: 25px;
    }

}

/* Media Queries [max-width:1199px]
/* ---------------------------------------------- */

@media(max-width:768px) {
    .logo-tiny {
    height:54px;
    }
}

/* Selection and other generic styles
/* ---------------------------------------------- */
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    color: #fff;
    background: rgba(254,82,76, .8);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    color: #fff;
    background: rgba(254,82,76, .8);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(254,82,76, .8);
}

/* Footer logo
/* ---------------------------------------------- */
@-webkit-keyframes final-logo {
    0% {
      -webkit-transform: translateY(-17px);
      transform: translateY(-17px);
    }
  
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    100% {
      -webkit-transform: translateY(-17px);
      transform: translateY(-17px);
    }
  }
  
  @keyframes final-logo {
    0% {
      -webkit-transform: translateY(-17px);
      transform: translateY(-17px);
    }
  
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    100% {
      -webkit-transform: translateY(-17px);
      transform: translateY(-17px);
    }
  }
  
  @-webkit-keyframes final-logo-float {
    100% {
      -webkit-transform: translateY(-17px);
      transform: translateY(-17px);
    }
  }
  
  @keyframes final-logo-float {
    100% {
      -webkit-transform: translateY(-17px);
      transform: translateY(-17px);
    }
  }
  
  .final-logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .final-logo:hover {
    -webkit-animation-name: final-logo-float, final-logo;
    animation-name: final-logo-float, final-logo;
    -webkit-animation-duration: 0.3s, 1.5s;
    animation-duration: 0.3s, 1.5s;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  